@model LMS_Data_Entity.Dto.UserHomePageDto;


<div class="container-fluid mt-3 bg-tertiary" style="padding : 0 4rem;">

    @*TOP*@
    <div class="row mb-4">

        <div class="d-flex justify-content-end col-md-12 my-3">
            <a class="btn btn-primary px-3 py-2" asp-action="MyBooks" asp-controller="User">My Books</a>
        </div>

        @*SEARCH FILTER*@
        <div class="col-md-12">
            <input type="text" class="form-control" id="searchBar" placeholder="Search for your favorite books..." aria-label="Search">
        </div>

    </div>

    @*BOTTOM*@
    <div class="row " id="bookCardsContainer">

        @if (Model.UserHomePageBooksList != null && Model.UserHomePageBooksList.Any())
        {
            foreach (var book in Model.UserHomePageBooksList)
            {
                @*BOOK CARDS*@
                <div class="d-flex col-md-4 my-2 rounded-2 p-3 border border-tertiary">
                    <div style="flex: 0.4;">
                        <img src="https://www.londonlibrary.co.uk/images/20210408113322.JPG"
                             class="img-fluid rounded"
                             alt="@book.Title"
                             style="height: 200px; object-fit: cover;">
                    </div>

                    <div class="text-start ps-3 py-2" style="flex: 0.6;">
                        <p class="mb-2 fs-5">
                            <strong>Title : </strong> <span class="fs-4">@book.Title</span>
                        </p>
                        <p class="mb-2">
                            <strong>Written By:</strong> @book.AuthorName
                        </p>
                        <p class="mb-2">
                            <strong>Language</strong> @book.Language
                        </p>
                        <p class="mb-2">
                            <strong>Publication:</strong> @book.Publication
                        </p>
                        <p class="mb-2 fs-5">
                            <strong>Price:</strong> <span class="text-success">
                                <span class="bg-success text-white py-1 px-2 rounded opacity-75"> $@book.Price</span>
                            </span>
                        </p>
                    </div>
                </div>
            }
        }
        else
        {
            <div>No books available.</div>
        }


    </div>

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        $('#searchBar').on('keyup', function () {
            var query = $(this).val();

            if (query.length >= 0) {
                $.ajax({
                    method: "GET",
                    url: "/User/UserSearchHandler",
                    data: { query: query },
                    success: function (response) {

                        console.log(response);

                        $('#bookCardsContainer').empty();

                        if (response) {
                            $.each(response, function (index, book) {
                                $('#bookCardsContainer').append(`
                                                   <div class="d-flex col-md-4 my-2 rounded-2 p-3 border border-tertiary">
                                                    <div style="flex: 0.4;">
                                                        <img src="https://www.londonlibrary.co.uk/images/20210408113322.JPG"
                                                             class="img-fluid rounded"
                                                             alt="${book.title}"
                                                             style="height: 200px; object-fit: cover;">
                                                    </div>

                                                    <div class="text-start ps-3 py-2" style="flex: 0.6;">
                                                        <p class="mb-2 fs-5">
                                                            <strong>Title : </strong> <span class="fs-4">${book.title}</span>
                                                        </p>
                                                        <p class="mb-2">
                                                            <strong>Written By:</strong> ${book.authorName}
                                                        </p>
                                                        <p class="mb-2">
                                                            <strong>Language</strong> ${book.language}
                                                        </p>
                                                        <p class="mb-2">
                                                            <strong>Publication:</strong> ${book.publication}
                                                        </p>
                                                        <p class="mb-2 fs-5">
                                                            <strong>Price:</strong> <span class="text-success">
                                                                <span class="bg-success text-white py-1 px-2 rounded opacity-75"> ${book.price}</span>
                                                            </span>
                                                        </p>
                                                    </div>
                            </div>
                                                `)
                            })
                        }
                        else {
                            $('#bookCardsContainer').append(`
                                                                                    <div>
                                                                                        <h1 class="text-center d-flex justify-content-center">
                                                                                            No Books found!
                                                                                        </h1>
                                                                                    </div>
                                                                                `);
                        }
                    },
                    error: function (err) {
                        console.log("Seach Books ERROR", err);
                    }
                });
            }

        });
    });
</script>



