@model LMS_Data_Entity.Dto.UserAssignedBooksDto;


<div class="container-fluid my-4 w-75">

    <div class="">

        @*  <div class="col-md-8 align-center justify-content-center text-center">
        <input type="text" name="searchBar" class="form-control p-1"/>
        </div>*@

        <div class="d-flex me-2 justify-content-end text-center">
            <a asp-action="Index" asp-controller="User" class="btn btn-outline-primary">&lt; Back</a>
        </div>

    </div>

    <div class="my-4" id="assignedbook">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Title</th>
                        <th>Issued Date</th>
                        <th>Return Date</th>
                        <th>Returned On</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="bookTableDivId">
                    @foreach (var book in @Model.AssignedBooksList)
                    {
                        var today = (DateTime.Now).ToLongDateString();
                        var issuedDate = book.IssuedDate.ToLongDateString();
                        string rowClass;

                        if (issuedDate == today)
                        {
                            rowClass = "bg-warning text-white fs-5 bg-opacity-75 fw-bold";
                        }
                        else if (book.StatusName == "Assigned")
                        {
                            rowClass = "bg-primary text-white fs-5 bg-opacity-75";
                        }
                        else if (book.StatusName == "Returned")
                        {
                            rowClass = "bg-success text-white fs-5 bg-opacity-75";
                        }
                        else
                        {
                            rowClass = "bg-warning text-white fs-5 bg-opacity-75";
                        }

                        if (rowClass == "bg-warning text-white fs-5 bg-opacity-75 fw-bold")
                        {
                            <tr class="text-center @rowClass">
                                <td>@book.BookName</td>
                                <td>@book.IssuedDate</td>
                                <td><mark>@book.ReturnDate.ToString("yyyy-MM-dd")</mark></td>
                                <td>@book.ReturnedOn?.ToString("yyyy-MM-dd")</td>
                                <td>@book.StatusName</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="text-center @rowClass">
                                <td>@book.BookName</td>
                                <td>@book.IssuedDate</td>
                                <td>@book.ReturnDate.ToString("yyyy-MM-dd")</td>
                                <td>@book.ReturnedOn?.ToString("yyyy-MM-dd")</td>
                                <td>@book.StatusName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
